
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
//@import url("https://use.typekit.net/het3eyq.css");
:root{
    /* INVERT HEADER */
    --invertHeaderBackground:#000;
    --invertHeaderColor:#fff;
    --invertHeaderCartBadgeBackground:#000;
    --invertHeaderCartBadgeColor:#fff;

    /* AJUSTE LOGO */
    --logoDesktop : 70px;
    --logoMobile : 40px;

    --borderRadius: 5px;

    /* PRIMARY */
    --primaryColor: #000000;
    --secondaryColor: #666;
    --buttonColor: #000;
    --bodyFontFamily: "Montserrat";
    --bodyFontWeight: 400;
    --bodyFontSize: 12px;
    
    /* TITLES */
    --titleFontFamily: "Bebas Neue", sans-serif;
    --titleFontWeight: 400;
    /* --titleFontSize: 93px; */
    --titleFontSize: 55px;
    --titleFontTransform: uppercase;
    --titleFontColor: #000;

    /* MENU */
    --menuFontFamily: "Bebas Neue", sans-serif;
    --menuFontWeight: 400;
    --menuFontSize: 25px;
    --menuFontTransform: uppercase;
    --menuFontColor: #000;

    /* FOOTER */
    --footerFontFamily: "Montserrat";
    --footerFontWeight: 400;
    --footerFontSize: 14px;
    --footerFontTransform: normal;
    --footerFontColor: #878787;

    /* FOOTER TITLES */
    --footerTitleFontFamily: "Montserrat";
    --footerTitleFontWeight: 600;
    --footerTitleFontSize: 18px;
    --footerTitleFontTransform: normal;
    --footerTitleFontColor: #000;

    /* PRODUCT LISTING */
    --productFontFamily: "Bebas Neue";
    --productFontWeight: 400;
    --productFontSize: 24px;
    --productFontColor: #000;

    
    --productPriceFontFamily: "Bebas Neue";
    --productPriceFontWeight: 400;
    --productPriceFontSize: 48px;
    --productPriceColor:#97BE11;
    
    --productPriceStrikeFontWeight: 300;
    --productPriceStrikeFontSize: 22px;
    --productPriceStrikeColor:#666;  
    
    --productButtonAddBackground: #fff;
    --productButtonAddColor: #000;

    /* BUTTONS */
    --buttonBorderRadius: 0px;
    --buttonFontSize: 0px;
    --buttonBackground: "";
    --buttonColor: "";

    --c1:#000;
    --c2:#97b323;
    --blk:#000;
    --ff1:"Bebas Neue";
}
.btn{
  border-radius: var(--borderRadius) !important;
  padding: 0 16px ;
  outline: none;
}
.font-weight-bold{font-weight: bold;}
.font-weight-800{font-weight: 800;}
.font-weight-700{font-weight: 700;}
.font-weight-600{font-weight: 600;}
.font-weight-500{font-weight: 500;}
.font-weight-normal{font-weight: normal;}
.font-weight-300{font-weight: 300;}
/* Direção de flexbox como linha em todos os dispositivos */
.flex-row {
  flex-direction: row !important;
}

/* Direção de flexbox como coluna em todos os dispositivos */
.flex-column {
  flex-direction: column !important;
}

/* Direção de flexbox como linha em dispositivos de tamanho médio e maiores */
@media (min-width: 768px) {
  .flex-md-row {
      flex-direction: row !important;
  }
}

/* Direção de flexbox como coluna em dispositivos menores que o tamanho médio */
@media (max-width: 767.98px) {
  .flex-md-column {
      flex-direction: column !important;
  }
}
.w-100{width: 100%;}
main ~ iframe{display: none;}
.align-items-center{align-items: center;}
.align-items-end{align-items: flex-end;}
.justify-content-center{justify-content: center;}
.justify-content-end{justify-content: flex-end;}
.justify-content-between{justify-content: space-between;}
.justify-content-around{justify-content: space-around;}

body{font-family: Montserrat;}
body,
.products-carousel{
  background: #f8f8f8;
}
.container{
  width: 1390px;
  max-width: 100%;
}
.apx-title,
.products-carousel__title{
  a,span, p{
    font-family: var(--titleFontFamily);
    text-transform: var(--titleFontTransform);
    font-weight: var(--titleFontWeight);
    font-size: var(--titleFontSize);
    text-align: center;
    display: block;
    padding: 0 2rem;
    width: fit-content;
    margin: 0 auto 15px auto;
    position: relative;
    color: var(--titleFontColor);
    background: transparent;
  }
}
.apx-title p:before,
.products-carousel__title:before{
  background-image:url('../../public/assets/section_hat.png');
  width: 122px;
  height: 56px;
  display: block;
  margin: 0 auto 1rem auto;
  background-color: transparent;
  position: relative;
  left: auto;
  content: "";
}
header.header{
  padding: 0;
  border: 0;
  background: #f8f8f8;

  .level_1{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > li{
      width: fit-content;
      padding: 0 1rem;
      > a{
        position: relative;
        text-decoration: none;
        padding: 0;
      }
    }
    ul{list-style-type: none;}
    .level_2{
      display: block;
      background: #ededed;
      border-radius: 0 0 3px 3px;
      padding: 5px;
      top: 100%;
      margin-top: 50px;
      opacity: 0;
      pointer-events: none;
      transition: all .3s;
      text-align: left;
      position: absolute;
      padding: 1rem;
      left: 0;
      max-height: 70vh;
      overflow-y: auto;
      ul{
        padding: 0;
        a{
          font-family: var(--titleFontFamily);
          font-size: 20px;
          line-height: 36px;
          text-decoration: none;
          color: #666;
          transition: color .3s ease-in-out;
        }
        a:hover{color: #000;}
      }
      
    }
    > li:hover{
      .level_2{
        opacity: 1;
        pointer-events: all;
        margin-top: -1px;
      }
    }
  }
  .header__nav{
    .header__category strong{
      font-family: var(--menuFontFamily);
      text-transform: var(--menuFontTransform);
      font-weight: var(--menuFontWeight);
      font-size: var(--menuFontSize);
      color: var(--menuFontColor);
      margin: 5px 0;
      position: relative;
    }
    .header__category{padding: 10px 20px;}
    .header__category:hover strong:before{width: 100%;}
    .header__category strong:before {
      content: "";
      background: #97BE11;
      width: 0;
      bottom: -4px;
      height: 4px;
      position: absolute;
      transition: width .3s;
  }
    .header__category:hover{background: unset;}
  }
  .bg-navbar{background:#ededed}
}

#content{
  .product-card{
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    a,
    a:hover{text-decoration: none;}
    .product-card__name{
      font-family: var(--productFontFamily);
      font-weight: var(--productFontWeight) !important;
      font-size: var(--productFontSize);
      color: var(--productFontColor);
      box-sizing: content-box !important;
      overflow: hidden;
      z-index: 1;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      min-height: unset !important;
      text-align: center;
      text-decoration: none;
    }
    .product-card__prices{
      .prices__value{
        font-family: var(--productPriceFontFamily);
        font-weight: var(--productPriceFontWeight);
        font-size: var(--productPriceFontSize);
        color: var(--productPriceColor);
        text-align: center;
        display: block;
        margin: .5rem 0;
        line-height: initial;
      }
    }
    .product-card__buy{
      button{
        i{display: none;}
        background: #B36F00;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Bebas Neue';
        font-weight: 400;
        font-size: 26px;
        width: fit-content;
        padding: 3px 2rem 0rem 2rem;
        display: block;
        margin: 0 auto;
        border: 0;
        border-radius: 3px;
        text-decoration: none;
        line-height: 50px;
      }
    }
  }
}

.products-carousel{
  max-width: 100%;    
  .product-item{margin: 0 2.5px;}
  .glide__arrow--left{.svg-ico{ svg{rotate: -90deg;}}}
  
  .svg-ico{
    display: block;
    
    height: 30px;
    width: 30px;
    svg{rotate: 90deg;width: 30px;height: 30px;}
  }
}

.top-bar{
  .top-bar__countdown{
    margin: 0;
    text-align: center;
    font-family: var(--menuFontFamily);
    padding: .5rem 0;
    font-size: 18px;
    font-weight: 400;
  }
}
header.header{
  margin-top: -1px;
  .header__logo{
    max-height: 142px;
    max-width: unset;
    margin: 1rem 0;
  }
  .svg-ico{
    height: 30px;
    width: 30px;
    svg{height: 30px;width: 30px;}
    *{text-align:center;}
  }
  .header__buttons{
    display: flex;
    gap: 1rem;
  }
  #user-button,
  #cart-button{
    display: flex;
    gap: .5rem;
    width: auto;
    height: auto;
    text-align: left;
    align-items: center;
    font-weight: 500;
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
    font-size: var(--bodyFontSize);
    color: var(--primaryColor);
    .functions-info{
      b{
        font-family: var(--menuFontFamily);
        display: block;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
      }
      span{font-size: 12px;}
      span[data-username]{border-bottom: 1px solid;}
    }
  }
  .header__search {
    max-width: 80%;
    margin: 0 auto;
    input.header__search-input{
      border: 1px solid #000 !important;
      background: transparent;
      width: 100%;
      height: 44px;
      font-size: calc(var(--bodyFontSize) * 1.2);
    }
    input.header__search-input::placeholder{
      font-style: italic;
    }
    button.header__search-btn{
      background: #000;
      border: 0 !important;
      border-radius: var(--borderRadius) !important;
      color: #fff;
      font-size: calc(var(--bodyFontSize)*1.2);
      height: 44px;
      line-height: 44px !important;
      outline: none;
      padding: 0 16px !important;
      top: 0;
      right: 0;
    }
  }
}

footer.footer{
  background: #1a120f;
  color: #fff;
  padding-bottom: 0;
  border: 0;
  padding-top: 4rem;
  .footer__title,
  .footer__store{
    color: #F7B53D!important;
    font-family: var(--titleFontFamily);
    text-transform: var(--titleFontTransform);
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 2rem;
    pointer-events: none;
  }
  .footer__store + p{
    font-size: 14px;
    line-height: 20px;
    width: 410px;
    max-width: 100%;
    font-weight: 400;
  }
  .footer__contacts{
    width: 100%;
    max-width: 100%;
    li{
      display: flex;
      margin-bottom: 1rem;
      gap: 5px;
      a,
      p{
        font-size: 13px;
        text-decoration: none;
        color: #fff;
        span{
          display: block;
          margin-bottom: 5px;
          font-size: 11px;
          background: #8ec545;
          color: #fff;
          padding: 4px 8px;
          border-radius: 10px;
          font-weight: 500;
          width: fit-content;
          line-height: 11px;
        }
        b{
          display: block;
          color: #F7B53D;
          margin-bottom: 5px;
          font-size: 16px;
        }
        
      }
    }
    .footer__list-icon{
      color: #F7B53D;
    }
  }
  .footer__links{
    a{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      margin-bottom: .5rem;
      display: block;
      width: fit-content;
    }
    a:hover{
      border-bottom: 1px solid;
    }
  }
  .footer__social{
    *{
      color: #F7B53D;
      opacity: 1;
    }
  }
  .footer__title.footer__social_title{margin-bottom: 1rem!important;}

  .blog-footer{
    .col-4{
      a{
        img{
          aspect-ratio: 1;
          object-fit: cover;
          background-color: #fff;
          border-radius: 5px;
        }
      }
    }
    .card-title{
      a{
        margin-top: 0;
        font-size: 18px;
        line-height: initial;
        color: #fff;
        font-weight: bold;
        margin-bottom: .5rem;
        display: block;
      }
    }
    .card-text{
      font-size: 13px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      min-height: unset !important;
      overflow: hidden;
      font-weight: normal;
    }
  }
  .bg{
    background: #f8f8f8;
    h4{
      font-family: var(--titleFontFamily);
      text-transform: var(--titleFontTransform);
      font-weight: 400;
      font-size: 25px;
      color: #000;
      margin: 0 1rem 0 0;
      line-height: initial;
    }
    .footer__payment-methods{margin: 0;}
  }  
}
.footer__credits{margin: 0!important;}
.credits{
  *{
      color: #4f4f4f;
      font-size: 11px;
  }
  .ecom-credits{
      background: transparent;
      padding: 0;
  }
  img{height: 16px;}
}
.footer__credits{padding: 1.5rem 0;border: 0;}
.footer__credits a{display: flex;align-items: center;gap: .5rem;}

h1,
.h1{
  font-family: var(--titleFontFamily);
  text-transform: var(--titleFontTransform);
  font-weight: var(--titleFontWeight);
  font-size: var(--titleFontSize);
  text-align: left;
  display: block;
  padding: 0 0 0px 0;
  width: 100%;
  margin: 30px 0 15px 0;
  position: relative;
  color: var(--titleFontColor);
  border-bottom: 1px solid #f8f8f8 !important;
  line-height: initial;
}

#product-block{
  .product__sku{
    color: var(--titleFontColor);
  }
  .product__buy{
    button{
      font-family: var(--titleFontFamily);
      text-transform: var(--titleFontTransform);
      font-weight: var(--titleFontWeight);
      font-size: 30px;
      height: auto;
      box-sizing: border-box;
      line-height: 58px !important;
      width: 300px;
      max-width: 100%;
      background-color: #B36F00;
      border: 0!important;
      padding: 0;
      i{display: none;}
    }
  }
  .prices--big{
    .prices__value{
      font-family: var(--productPriceFontFamily);
      font-weight: var(--productPriceFontWeight);
      font-size: calc(var(--productPriceFontSize) * 1.4);
      color: var(--productPriceColor);
      display: block;
    }
  }
}

.shipping-calculator{
  label{
    font-family: var(--productPriceFontFamily);
    color: #000;
    font-size: 25px;
    font-weight: 400;
  }
  .input-group{
    border: 1px solid #000 !important;
    width: fit-content;
    border-radius: var(--borderRadius) !important;
    display: flex;
  }
  input{
    border: 0;
    max-width: unset;
    flex: 1 1 100%;
    height: 42px;
  }
  button{
    background: #000;
    color: #fff;
    border: 0;
  }
}

#product-description{
  .html-clearfix{
    * {
      font-size: 13px!important;
      line-height: 24px!important;
      font-family: "Montserrat"!important;
      color: #4f4f4f!important;
    }
  }
}

.card{
  .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #f2f2f2;
    box-shadow: 0 5px 5px rgb(0 0 0 / 3%);
    flex-direction: row-reverse;
    font-family: var(--menuFontFamily);
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
    line-height: initial;
  }
  .card-body{
    .minicart__empty{
      height: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      .text-muted{
        font-family: var(--menuFontFamily);
        display: block;
        font-weight: 400;
        font-size: 22px;
        text-transform: uppercase;
        color: #000!important;
        text-align: center;
      }
      a{
        margin: 15px;
        width: calc(100% - 30px);
        box-sizing: border-box;
        color: #fff;
        text-transform: uppercase;
        font-weight: normal;
        font-family: var(--menuFontFamily);
        font-size: 22px;
        border: 0;
        height: 44px;
        line-height: 44px !important;
        border-radius: var(--borderRadius) !important;
        background-color: #B36F00;
        i{display: none;}
      }
    }
    .cart-item__prices{
      font-family: var(--titleFontFamily);
      color: #000;
      font-size: 18px;
    }
  }
  .card-footer{
    background: #fff;
    padding: 1rem;
    color: #000;
    font-size: 14px;
    box-shadow: 0 -5px 5px rgb(0 0 0 / 3%);
    border: 0;
    .minicart__summary{color:#000;font-size:14px;}
    .minicart__btn-cart{display: none;}
    .minicart__btn-checkout{      
        box-sizing: border-box;
        color: #fff;
        text-transform: uppercase;
        font-weight: normal;
        font-family: var(--menuFontFamily);
        font-size: 22px;
        border: 0;
        height: 44px;
        line-height: 44px !important;
        border-radius: var(--borderRadius) !important;
        background-color: #B36F00;
        i{display: none;}
    }
  }
}

.breadcrumb{
  .breadcrumb-item,
  .breadcrumb-item *{
    font-size: 12px;
    color: #000;
  }
  .breadcrumb-item.active{}
  .breadcrumb-item.active:before{
    color: #000;
  }
}

#content{
  .product-card{margin-bottom: 2rem;}
  .search-engine__results{
    .search-engine__terms h1{margin-top: 0;}
    .search-engine__info{
      padding-left: 0;
      padding-right: 0;
    }
    .search-engine__no-results *{
      font-size: var(--h5);
    }
    .search-engine__no-results h4{
      font-family: var(--titleFontFamily);
      font-size: calc(var(--h5) * 1.4);
    }

    .search-engine__retail > .row > div{margin-bottom: 2rem;}
  }
}

.product-card{
  .product-card__favorite{
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50% !important;
    color: #666;
    display: flex;
    font-size: 12px;
    height: 30px;
    justify-content: center;
    padding: 0;
    right: 10px;
    top: 10px;
    width: 30px;
    i{margin: 0!important;}
  }
}

#theme_header-menu-trigger{
  width: 20px;
  height: 16px;
  position: relative;
  margin: 0 15px 0 0;
  transition: all .4s;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #000;
  outline: none;
  vertical-align: middle;
  padding: 0;
  transition: all .4s;
  display: flex!important;
  flex: 0 0 20px!important;
  background: transparent;
  border-radius: 0!important;
  min-width: 0;
  
}
#theme_header-menu-trigger.open{
  border-color: transparent;
}
#theme_header-menu-trigger.open:before{
  transform: rotate(45deg);  
  top:7px;
}
#theme_header-menu-trigger.open:after{
  transform: rotate(-45deg);
  bottom: 5px;    
}
#theme_header-menu-trigger:before{
  content: "";
  position: Absolute;
  border-top: 2px solid #000;
  width: 100%;
  top: 0;
  transition: all .4s;
  left: 0;
}
#theme_header-menu-trigger:after{
  content: "";
  position: Absolute;
  border-top: 2px solid #000;
  width: 100%;
  bottom: 5px;
  transition: all .4s;
  left: 0;
}

@media(max-width:767px){
  :root{
      /* PRIMARY */
      --bodyFontSize: 12px;
      
      /* TITLES */
      --titleFontSize: 32px;
  
      /* MENU */
      --menuFontSize: 14px;
  
      /* FOOTER */
      --footerFontSize: calc(14px * 0.9);
      /* FOOTER TITLES */
      --footerTitleFontSize: calc(18px * 0.9);    
      /* PRODUCT LISTING */
      --productFontSize:18px;
      --productPriceFontSize: calc(14px * 0.9);
      --productPriceStrikeFontSize: 18px;
      --productPriceFontSize:30px;

  }
}

#accordion-menu{
  .menu__list{
    .menu__item{
      padding: .25rem 1rem;
      border: 0;
      span{
        color: var(--menuFontColor);
        font-family: var(--menuFontFamily);
        font-size: 20px;
        font-weight: var(--menuFontWeight);
        margin: 5px 0;
        position: relative;
        text-transform: var(--menuFontTransform);
        
      }
      span:before{
        background: #97be11;
        bottom: -4px;
        content: "";
        height: 4px;
        position: absolute;
        transition: width .3s;
        width: 0;
      }
    }
    .menu__item:hover{
      background: #fff;
      span:before{width: 100%;}
    }
  }
}

@media(max-width:1024px){
  header#header{
    .header__logo-block{
      img{height: 32px;}
    }
    #user-button,
    #cart-button{
      padding: 0;
      b{
        font-size: 14px; 
      }
      b+span,
      b+span *{font-size: 10px;}
    }
    .svg-ico{
      height: 22px;
      width: 22px;
      svg{
        height: 22px;
        width: 22px;
      }
    }
    .header__buttons-block{justify-content: flex-end;display: flex;}
    .header__search{
      max-width:100%;
      padding-bottom: 1rem;
      
        input{
          font-size: 12px;
          height: 36px;
        }
        button{
          height: 36px;
          font-size: 12px;
          font-weight: 600;
          line-height: 36px !important;
        }      
    }
  }
  .top-bar .top-bar__countdown{
    white-space: normal;
    font-size: 16px;
    line-height: initial;
    padding: 7.5px 15px;
  }

  #content{
    .product-card{
      padding: 0;
      background: transparent;
      .product-card__pictures{
        picture{border-radius: .5rem;overflow: hidden;background: #fff;}        
      }
      .product-card__name{
        padding: 0 1rem!important;
      }
      .product-card__buy{
        opacity: 1;
        padding: 0;
        button{
          font-size: 20px;
          height: auto;
          line-height: 40px;
          width: 100%;
          padding: 0;
          box-sizing: border-box;
          text-align: center;
        }
      }
    }
  }
  #cart-quickview{
    .minicart__btn-back{display: none!important;}
  }

  footer.footer{
    overflow: hidden;
    padding: 1.5rem .5rem 0 .5rem!important;
    .footer__title{
      margin-bottom: 1rem;
      border: 0;
    }
    .blog-footer{
      .card-title{
        a{font-size: 14px;}
      }
    }
    .bg{
      margin:0 -10px;
      padding: 1rem .5rem;
      .footer__payment-methods{margin-bottom: 2rem;}
      .d-flex{width:100%;flex-direction: column;justify-content: flex-start;align-items: flex-start;}
    }
    
  }
  .footer__credits{
    small{
      text-align: center;
      margin-bottom: 1rem;
      display: block;
    }
  }
  .apx-title p:before,
  .products-carousel__title:before{
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.product-card{
  .prices{text-align:center;margin-bottom: 1rem;}
  .prices__installments:before{
    content: "até ";
    font-weight: 400!important;
  }
  .prices__installments > span:before{
    content: "de";
    font-weight: 400!important;
  }
  .prices__installments:after{
    content: "sem juros";
    font-weight: 400!important;
  }
}
.prices{
  .prices__value{}
  .prices__installments{
    font-weight: 600!important;
  }
  
  .prices__installments{

  }
  .prices__discount{
    margin-top: .5rem;
    span{
      font-weight: 600;
    }
    span:before{
      content: "ou";
      font-weight: 400!important;
    }
    small{}
  }
}

#product{
  .product__favorite{padding-left: 0;}
  .product__payment,
  .share.btn{display: none;}
}

.product__sticky{
  background:#fafafa;
  h5{
    color: var(--menuFontColor);
    font-family: var(--menuFontFamily);
    font-size: var(--menuFontSize);
    font-weight: var(--menuFontWeight);
    position: relative;
    text-transform: var(--menuFontTransform);
  }
  .prices__value{
    color: var(--productPriceColor);
    display: block;
    font-family: var(--productPriceFontFamily);
    font-size: calc(var(--productPriceFontSize)* .9);
    font-weight: var(--productPriceFontWeight);
    margin-right: 1rem;
  }
  .prices > span{
    margin-top: -3px;
    .prices__installments{}
    .prices__installments:before{
      content: "até";
    }
    .prices__installments:after{
      content: "sem juros";
    }
  }
  .prices__discount{
    margin-top: .25rem;
    span{font-weight: bold;}
  }
  .btn-primary{
    background-color: #b36f00;
    border: 0 !important;
    box-sizing: border-box;
    font-family: var(--titleFontFamily);
    font-size: 30px;
    font-weight: var(--titleFontWeight);
    height: auto;
    line-height: 58px !important;
    max-width: 100%;
    padding: 0;
    text-transform: var(--titleFontTransform);
    width: 300px;
    margin-left: 2rem;
    i{display: none;}
  }
}
.shipping-line{
  font-size: calc(var(--bodyFontSize) * .9);
  >strong{
    font-size: calc(var(--bodyFontSize) * .9);
  }
  .shipping-estimated-date{
    background: var(--productPriceStrikeColor);
    color: #fff !important;
    font-size: 10px !important;
    line-height: 10px;
    padding: 3px 4px;
    border-radius: 6px;
    margin-left: 5px;
  }
  
}
.shipping-calculator__option{
  display: flex;
  align-items: center;
  > small{
    font-size: calc(var(--bodyFontSize) * .9)!important;
    max-width: 30%;
    line-height: initial;
    color: var(--productPriceColor);
    font-weight: 600;
  }
}



/*
//APP DAQUI PRA BAIXO
*/
.app{
  --font-size:13px;
  --font-size-sm:11px;
  --h4:1.75rem;
  --h5:1.5rem;
  footer.footer{background: #f8f9fa;}
  .app__footer{
    background: #000;
    .footer__payment-methods{
      display: flex;
      gap: .25rem;
    }
    .footer__credits{
      margin-top: 0;
      padding-top: 0;
    }
  }

}
.app__header{
  box-shadow: 0px 0px 0px;
  border-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.app__footer{
  border-top: 1px solid var(--color-border);
}

.app{
  background:#f8f9fa;
  justify-content: flex-start;
  footer.footer{margin-top: auto;}
}
ul.app_contacts{
  display: flex;gap:2rem;
  margin: 0;
  justify-content: flex-end;
  li{
      display: flex;
      gap: .5rem;
      justify-content: flex-start;
      align-items: center;
      span{
          img{
              height: 20px;
          }
      }
      a,p{
          font-size: var(--font-size);
          color: var(--blk);
          line-height: initial;
          font-weight: 600;
          small{
              display: block;
              font-size: var(--font-size-sm);
              color: var(--txt);
              text-align: left;
              line-height: initial;
              font-weight: 500;
          }
          margin: 0;
      }
  }

}
#storefront-app{
  [data-page-title="✓ Recebemos seu pedido"]{
      h1{
          text-align: center !important;
          margin: 1rem auto -1rem auto;
      }
  }
  .summary__buyer{
      p{font-size: var(--font-size-sm);}
      .btn-outline-secondary{
          height: 40px;
          min-width: 40px;
          border-radius: 10px;
          padding: 0 1rem;
          font-size: var(--font-size-sm);
          i{font-size: calc(var(--font-size-sm) * .8)};
      }
  }
  .order-info__number,
  .order-info__number *{
      color: var(--blk);
  }
  .order-info__right{
      .summary__title{
          font-size: var(--h5)!important;
      }
      .order-info__buy-again{
          height: 40px;
          min-width: 40px;
          border-radius: 10px;
          padding: 0 1rem;
          font-size: var(--font-size-sm);
          i{font-size: calc(var(--font-size-sm) * .8)};
          margin-right: auto;
          margin-left: 1.25rem;
          margin-top: 0;
      }
  }
  #confirmation{
      .order-info > div:first-child{
          font-size: var(--font-size);
          color: var(--txt);
      }
      .order-info__details{
          .card{border-radius: 5px;
          border: 1px solid var(--border-color);}
          .card-header{
              font-size: var(--font-size-sm);
              font-weight: 600;
              background: var(--border-color);
              border: 0;
              i{font-size: var(--smallest);}
          }
          .card-body{
              border: 0;
              font-size: var(--font-size-sm);
              color: var(--txt);
              *{
                  font-size: var(--font-size-sm);
                  color: var(--txt);
              }
              *:last-child{margin-bottom: 0;}
              hr:last-child{display: none;}
          }
      }
      .summary__amount > div > div{
          font-size: var(--font-size);
          color: var(--blk);
      }
      .summary__amount{
          border-top: 0;
          padding-top: 0;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          span{
              font-weight: 600;
              font-size: var(--font-size);
          }
          .prices__value{
              font-size: var(--h4);
              color: var(--c1);
              font-weight: 600;
          }
      }
      .order-info__summary{border: 0;}
      .order-info__summary .card-body{padding-top: 0;padding-bottom: 0;}
      h5.summary__title{
          font-size: var(--h3);
          color: var(--blk);
          font-weight: 600;
          margin: 0 0 1rem 0;
      }
      .summary__item{display: flex;
      align-items: center;}
      .summary__item > div{
          .badge{
              background: transparent;
              padding: 0;
              color: var(--txt);
              font-weight: normal;
              font-size: var(--font-size-sm);
              display: inline-block;
              letter-spacing: -1.5px;
              margin-right: .25rem;

          }
          .badge:after{
              content: "x";
          }
          font-size: var(--font-size-sm);
          color: var(--txt);
      }
      .summary__item{
          background: #fff;
          border-radius: .75rem;
          padding: .75rem;

          img{height: 80px;}
          a > small{
              font-size: var(--font-size-sm);
              font-weight: 600;
              color: var(--blk);
              margin-top: .25rem;
          }
      }
      
  }
  
  .discount-applier__form{
      .btn-outline-success{
          border-radius: 0 5px 5px 0;
          border: 0;
          background: var(--wht);
      }
      label{
          font-size: var(--font-size);
          font-weight: 600;
      }
      #discount-applier-coupon{
          background: #fff;
          border: 0;
          height: 46px;
          padding: 0 1rem;
      }
      .btn-outline-secondary{
          background: var(--wht);
          border: 0;
          
          color: var(--c1);
          font-size: var(--smallest);
          font-weight: 700;
          text-transform: uppercase;
      }
  }
  h1{
      text-align: left!important;
      
      margin: 0 auto;
      color: var(--blk)!important;
      color: var(--title_color, var(--primary));
      font-family: var(--ff1);
      font-size: var(--h1);
      text-transform: uppercase;

  }
  h1:before{display: none;}

  #cart{
      .cart-item{
          border: 0;
          background: #fff;
          border-radius: 0;
          padding: 1.25rem;
          .cart-item__container{
              align-items: flex-start;
          }
          .cart-item__data{
              .cart-item__name{
                  a{
                      font-size: var(--font-size);
                      color: var(--blk);
                  }
              }
              .cart-item__prices{
                  display: flex;
                  align-items: center;
                  gap: 1rem;
                  *{font-size: var(--font-size-sm);}
                  .cart-item__price-un{
                      color: var(--txt);
                  }
                  font-size: var(--font-size-sm);
                  color: var(--c1);
                  font-weight: 600;
              }
          }
      }
      .cart__info + .cart__discount{
          padding: 0 1rem;
      }
      .cart__info{
          .prices__value{
              font-size: var(--h4);
              color: var(--c1);
          }
          padding-top: 0;
          padding-bottom: 0;
      }
      .cart__info > div{
          font-size: var(--font-size);
          color: var(--blk);
          
      }
      .cart__info > *:not(:first-child){margin-top: 2rem;}
      .shipping-calculator{
          .input-group{
              flex-wrap: nowrap;
          }
          input{max-width: unset;width: 100%;}
      } 
      .cart__btn-checkout{
          background: var(--c1);
          font-size: var(--font-size);
          border-radius: 0;
          font-weight: 600;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: capitalize;
      }
  }
  .account,
  .checkout{
      
      .custom-radio input~label:after,
      .custom-radio input:checked~label:after,
      .custom-radio input~label:before,
      .custom-radio input:checked~label:before{margin-top:-3px}
      .custom-checkbox input~label:after,
      .custom-checkbox input:checked~label:after,
      .custom-checkbox input~label:before,
      .custom-checkbox input:checked~label:before{
        border-radius: 0;
          margin-top:-3px
      }
      .checkout__account{
          
          max-width: 100%;
          form > .form-group:first-child{display: none;}
      }
      .login{
          display: flex;
          justify-content: space-between;
          
          max-width: 100%;
          align-items: flex-start;
      }
      .address-form,
      .checkout__account{
          input{
            border-radius: 0;
              border: 0;
              font-size: var(--font-size);
              height: 47px;
          }
          label{
            font-size: var(--font-size);color: var(--blk);font-weight:500}
          button{
            border-radius: 0;
              font-size: var(--font-size-sm);
              font-weight: 600;
          }
          .lead{
              font-size: var(--font-size);
              color: var(--txt);
              font-weight: 400;
              text-align: left;
              margin: -1.5rem 0 2rem 0;
          }
          button.btn-lg{
              height: 47px;
              width: 310px;
              max-width: 100%;
              font-size: var(--font-size);
              display: flex;
              gap: .5rem;
              align-items: center;
              justify-content: center;
              text-transform: uppercase;
              i{
                  background-image: url('../../public/assets/check.svg');
                  height: 16px;
                  width: 16px;
                  display: block;
                  font-size: 0;
              }
          }
          
      }
      .login{
          form{
              text-align: left;
              .login__email{width: 420px;max-width: 100%;}
              label{
                  font-size: var(--font-size);
                  color: var(--txt);
                  font-weight: 500;
                  margin: 0 0 1rem 0;
              }
              input{
                border-radius: 0;
                  border: 0;
                  font-size: var(--font-size);
              }
              button{
                border-radius: 0;
                  font-size: var(--font-size-sm);
                  font-weight: 600;
                  text-transform: uppercase;
              }
              .lead{
                  font-size: var(--font-size);
                  color: var(--txt);
                  font-weight: 500;
              }
          }
          .login__info{
              border-radius:1rem;
              background: #fff;
              border: 0;
              max-width: 100%;
              width: 310px;
              padding: 1.3rem;
              margin: 0;
              .login__info-title{
                  display: flex;
                  align-items: center;
                  font-size: var(--font-size-sm);
                  color: var(--blk);
                  font-weight: bold;
                  line-height: initial;
                  margin-bottom: 1rem;
                  .i-lock{
                      background-image: url('../../public/assets/lock-unlocked-02.svg');
                      font-size: 0;
                      width: 24px;
                      height: 24px;
                      margin: 0;
                      max-width: unset;
                      display: flex;
                      min-width: 24px;
                      margin-right: .5rem;
                  }
              }
              .login__info-row{
                  display: flex;
                  align-items: center;
                  color: var(--txt);
                  font-size: var(--font-size-sm);
                  margin-top: .5rem;
                  .i-check{
                      color: var(--c1);
                      border: 1px solid var(--c1);
                      font-size: 6px;
                      height: 12px;
                      width: 12px;
                      border-radius: 0;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      margin-right: .5rem;
                  }
              }
          }
      }
  }
  .checkout__app{
      // width: 83.3333%;
      max-width: 100%;
      .checkout__back a{
        border-radius: 0;
          width: 100%;
          background:var(--border-color);
          font-size: var(--font-size-sm);
          padding: .75rem;
          color: var(--blk);
          text-transform: uppercase;
          font-weight: 600;
          i{font-size: 10px;}
      }
      .checkout-left-col + div{padding-left:2rem}
      .checkout-left-col{
          border-right:1px solid var(--border-color);
          padding-right: 2rem;
      }
      .first_step{
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .account-addresses .address-form{
              max-width: 100%;
          }
          h3{
             font-size: var(--h4); 
             font-weight: 600;
             color: var(--blk);
          }
      }
      .checkout__col{
          h3, h6{
              font-size: var(--h4); 
              font-weight: 400;
              color: var(--blk);
              font-family: var(--ff1);
              text-transform: uppercase;
              margin: 0 0 1rem 0;
          }
      }
      .payment{
          .payment__pay,
          .btn-success{
              background: #b36f00;
              border: 0;
              color: #fff;
              font-family: Bebas Neue;
              font-size: 26px;
              font-weight: 400;
              line-height: 50px;
              margin: 0 auto;
              padding: 3px 2rem 0;
              text-decoration: none;
              text-transform: uppercase;
              display: flex;
              background: var(--c1);
              align-items: center;
              justify-content: center;
              gap: 1rem;
              i{
                  background-image: url('../../public/assets/check.svg');
                  height: 16px;
                  width: 16px;
                  display: block;
                  font-size: 0;
              }
          }
          .btn-light{
            border-radius: 0;
              width: 100%;
              padding: .5rem 0;
              font-size: var(--font-size-sm);
              i{display: none;}

          }
          .list-group{
            a.payment__gateway{
              background: #fff;color: #000;
            }
          }
          .list-group  a.active_{
              background: #fff;
          }
          .list-group  a{
              border: 1px solid var(--color-border);
              border-radius: 0;
              background: transparent;
              padding: .75rem;
              margin-bottom: .5rem;
              font-weight: 600;
              .payment__intermediator,
              > img{display: none;}
              
              .payment__title + span{display: none;}
              .payment__title:before{
                  content: "";
                  background: #fff;
                  height: 16px;
                  width: 16px;
                  border: 1px solid var(--c1);
                  display: inline-block;
                  border-radius: 0;
              }
              .payment__title{
                  display: flex;
                  align-items: center;
                  gap: .5rem;
                  font-size: var(--font-size);
                  span{
                      position: absolute;
                      font-size: 0;
                      width: 16px;
                      height: 16px;
                      background: var(--c1);
                      border-radius: 0;
                      .i-chevron-left{
                        background: var(--c2);
                        width: 50%;
                        height: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        translate: -50% -50%;
                      }
                  }
              }
          }
          .list-group .payment__method.list-group-item{
              position: relative;
              width: 100%;
              border: 0;
              background: #fff;
              border-radius: 0;
              padding: 1rem;
          }

          
      }
      .checkout__info{
          border: 0;
          
          .summary__amount > div > div{
              font-size: var(--font-size);
              color: var(--blk);
          }
          .summary__amount{
              border-top: 0;
              padding-top: 0;
              display: flex;
              flex-direction: column;
              gap: 1rem;
              span{
                  font-weight: 600;
                  font-size: var(--font-size);
              }
              .prices__value{
                  font-size: var(--h4);
                  color: var(--c1);
                  font-weight: 600;
              }
          }
          .summary__buyer{display: none;}
          .checkout__summary{
            
              .summary{position: sticky;top: 1.5rem;    margin: 0 0 2rem 0;background: #f8f8f8;}
              h5.summary__title{
                  color: var(--blk);
                  font-family: var(--ff1);
                  font-size: var(--h4);
                  font-weight: 400;
                  margin: 0 0 1rem;
                  text-transform: uppercase;
              }
              .summary__item{display: flex;
              align-items: center;}
              .summary__item > div{
                  .badge{
                      background: transparent;
                      padding: 0;
                      color: var(--txt);
                      font-weight: normal;
                      font-size: var(--font-size-sm);
                      display: inline-block;
                      letter-spacing: -1.5px;
                      margin-right: .25rem;

                  }
                  .badge:after{
                      content: "x";
                  }
                  font-size: var(--font-size-sm);
                  color: var(--txt);
              }
              .summary__item{
                  background: #fff;
                  border-radius: 0;
                  padding: .75rem;

                  img{height: 80px;}
                  a > small{
                      font-size: var(--font-size-sm);
                      font-weight: 600;
                      color: var(--blk);
                      margin-top: .25rem;
                  }
              }
          }
      }
      .checkout__notes textarea{
          border: 0;
          border-radius: 0;
          font-size: var(--font-size-sm);
          padding: 1rem;
      }
  }
}

.app{
  .checkout{
    .checkout__app{
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
      width: 1320px;
    }
    .payment{
      .btn-success{
       
      }
    }
  }
  .app__header{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .app__logo{
    max-height: 40px;
  }
}
.checkout{
  .btn-secondary,
  .btn-outline-secondary{
    background: var(--border-color);
    border: 0;
    border-radius: 0 !important;
    color: var(--c1);
    font-weight: 500;
    text-transform: uppercase;
    padding: .5rem 1rem;
    line-height: initial;
    height: 40px;
    min-height: 40px;
  }
  .btn-secondary:hover,
  .btn-outline-secondary:hover{
    color: var(--c1);
    background: var(--c2);
  }
}
.checkout .shipping-calculator{
  .list-group-item{}
  .list-group-item.active{
    background: #000;
  }
}
@media(min-width:990px){
  #storefront-app{
      .cart-divider{
          border-right: 1px solid var(--color-border);
          padding-right: 1.875rem;
      }
      .container,
      .container-fluid{
        width: 990px;
      }
  }
  
}

.account-addresses{
  .card{
      border: 0;
      border-radius: 0;
      overflow: hidden;
      .card-footer{background: #fff;font-weight: 600;}
  }
  .account-addresses__actions{
      button{
          font-size:12px;
          height: 40px;
          min-width: 40px;
          border-radius: 0;
      }
  }
  .btn-outline-secondary{
      height: 40px;
      min-width: 40px;
      border-radius: 10px;
      padding: 0 1rem;
      font-size: var(--font-size-sm);
      i{font-size: calc(var(--font-size-sm) * .8)};
      
  }
}

@media(max-width:990px){
  .app{
    .app__logo{max-height: 26px;}
    .app__header{padding: 1rem;}
    #storefront-app{
        h1{width: 100%;padding: 0 1rem;}
        .cart-item__thumb{margin-right: 1rem;}
    } 
    #storefront-app #cart .cart-item{padding: 0 1rem;}
    #storefront-app #cart .cart__info>:not(:first-child){margin-top: .5rem;border-radius:0}
    .cart__info > div{
        border-top: 1px solid var(--border-color);
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin-top: 0 !important;
    }
    #storefront-app  .login{
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }
    #storefront-app  .login form .login__email,
    #storefront-app  .login form{width: 100%;}
    .checkout,
    .account{padding: 0 1rem;}
    #storefront-app .checkout .checkout__account{width: 100%;}
    #storefront-app .checkout .address-form .lead, #storefront-app .checkout .checkout__account .lead{margin-top: -1rem;}
    #storefront-app .checkout__app{width: 100%;margin-top:-1rem;margin-right: 0;}
    .checkout__shipping .shipping-calculator .list-group-item .shipping-calculator__option{
        gap:.5rem 1rem;
        flex-wrap: wrap-reverse;
    }
    .checkout__shipping .shipping-calculator .shipping-line{justify-content:space-between;text-align:left;padding-left: 0rem;}
    #storefront-app .checkout__app .checkout__info{padding: 15px;margin-top: 0;padding-top: 0;}
    #storefront-app .checkout__app .checkout__info:before{display: none;}
    #storefront-app .checkout__app .checkout__info .checkout__summary .summary__item{padding: 10px;
    picture{padding:0}}
    #storefront-app .checkout__app .checkout__info .checkout__back{display: none;}
    .checkout__app > .row{
        flex-direction: column-reverse;
    }
    #storefront-app .checkout__app .checkout-left-col{
        padding-right: 15px;
        border: 0;
    }
    .footer__credits,
    .footer__credits .credits{
        text-align: center;
        justify-content: center;
        gap: 1rem;
    }
    #storefront-app .checkout__app .checkout__info .summary__amount{padding-bottom: 0;margin-bottom: 0;}
    .checkout-toggle-resume{
        width: 100%;
        border: 0;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem;
        background: var(--color1);
        color: var(--wht);
        border-radius: 0.313rem;
        small{text-decoration: underline;}
    }

    .app__footer{
        .footer__credits{
            margin-top: 1.5rem;
        }
        .credits{
            flex-direction: column;
            
        }
    }
}
body.app{padding-bottom: 0;}
}